:root{
    --main-color:#1f9aff;
    --read-complete-color: slategray;
}

.PlayAddonSaveBtn{
    position: absolute;
    left: 10px;
    width: 200px;
    height: 40px;
    background-color:var(--main-color);
    border-radius: 5px;
    padding: 6px;
    color: white;
    font-size: 20px;
}
.PlayAddonSaveBtn>div{
    margin: auto 0px;
}
.PlayAddonSaveBtn>img{
    height: 30px;
    margin: auto 0px;
    vertical-align: baseline;
}

.addonShowState{
    display: flex;
}
.addonReadState{
    background-color: white;
    border: 1px solid var(--main-color);
    min-width: 46px;
    padding: 2px;
    border-radius: 5px;
}
.addonReadState[readcomplete]{
    border: 1px solid var(--read-complete-color);
}
.addonReadState[readcomplete]>div{
    color: var(--read-complete-color);
}
.addonReadState>div{
    text-align: center;
    line-height: 14px;
    margin: auto 0;
    color: var(--main-color);
    padding: 0 2px;
}
.addonReadPercent{
    line-height: 14px;
    margin: auto 0;
    padding: 0 4px;
}